<%= error_messages_for 'users' %>

<!--[form:users]-->
<p><label for="users_login">Login</label><br/>
<%= text_field 'users', 'login'  %></p>

<p><label for="users_pwd">Pwd</label><br/>
<%= text_field 'users', 'pwd'  %></p>

<p><label for="users_name">Name</label><br/>
<%= text_field 'users', 'name'  %></p>
<!--[eoform:users]-->

